<form method="post">

    {{ form.as_p }}
    <input type="submit" value="Submit">


    <!-- <label>Organization:</label><br>
    <select name="orgs" multiple>
      <option value="PUFSC">PUFSC</option>
      <option value="R20">R20</option>
      <option value="VTone">VTone</option>
    </select><br>

    <label>Category:</label><br>
    <select name="categories" multiple required>
      <option value="sports">Sports</option>
      <option value="music">Music</option>
      <option value="theatre">Theatre</option>
    </select><br>

    <label>Name:</label><br>
    <input type="text" name="name" required><br>

    Start (date and time):<br>
    <input type="datetime-local" name="starttime" required><br>

    End (date and time):<br>
    <input type="datetime-local" name="endttime" min="2000-01-02" required><br>

    Location:<br>
    <input type="text" name="location"><br>

    <input type="checkbox" name="free" value="free">Free?<br>

    Website:<br>
    <input type="text" name="location"><br>

    Description:<br>
    <input type="text" name="location"><br>

    <input type="submit" value="Submit"> -->

</form>