<form action="searchform" method="get">

  <table>

    <tr>
      <td><label for="dept">Dept:</label></td>
      <td><input type="text" id="dept" name="dept"></td>
    </tr>

    <tr>
      <td><label for="crsnum">Course Num:</label></td>
      <td><input type="text" id="crsnum" name="crsnum"></td>
    </tr>

    <tr>
      <td><label for="area">Area:</label></td>
      <td><input type="text" id="area" name="area"></td>
    </tr>

    <tr>
      <td><label for="title">Title:</label></td>
      <td><input type="text" id="title" name="title"></td>
    </tr>

    <tr>
      <td></td>
      <td><input type="submit" value="Submit"></td>
    </tr>

  </table>

</form>